
.header {
    background: #33ccff;
    align: right;
}

.container {

    display: flex;
    //margin:0px 15px;
    width:70%
}

.column {
    flex: 1;

    /*for demo purposes only */

    border: 1px solid #e6e6e6;
    box-sizing: content-box;
    text-align: center;
}




.column-ride {
    order: 1;

}
.column-projected {
    order: 2;
}
.column-reported {
    order: 3;
}
.column-user {
    order: 4;
}
.column-remove {
    order: 5;
}